h1 {
    color: rgb(0, 128, 128);
    text-align: center;
    font-family:'Roboto Mono', monospace;
}



h2 {

    color: rgb(251, 251, 251);
    font-family: 'Roboto Mono', monospace;

}

h3 {

    color: rgb(0, 128, 128);
    font-size: 40px;
    margin-left: 15px;
    font-family: 'Roboto Mono', monospace;
}

p {

    color: rgb(251, 251, 251);
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    text-align: justify;

}

li {

    list-style-type: none;
    font-family: 'Roboto Mono', monospace;
}

#navigation {

    display: inline-block;
    float:left;
}

a {

    display: inline-block;
    font-weight:bold;
    color:rgb(251, 251, 251);
    background-color:rgb(0,128,128);
    text-align: center;
    width: 480px;
    height:35px;
    padding: 6px;
    margin: 0 auto;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-family: 'Roboto Mono', monospace;
    float: left;
}

a:hover {

    color:rgb(0,128,128);
    background-color: rgb(251,251,251);

}



a:focus {

    color:rgb(0, 128, 128);
    background-color: rgb(251, 251, 251);

}

#propos {

    background-color: teal;
    box-sizing: border-box;
    width: 40%;
    height: 300px;
    display: inline-block;
    margin: 15px;
    padding: 30px;
    border: 2px;
    float: left;

}

#bio {

    background-color: teal;
    box-sizing: border-box;
    width: 40%;
    height: 400px;
    display: inline-block;
    margin: 15px;
    padding: 30px;
    border: 2px;
    float: left;

}


#img3 {

    width: 50%;
    display: inline-block;
    float: right;
    margin: 40px;

}

footer {
    
    color: rgb(0, 128, 128);
     
    margin-left: 10px;
    font-family: 'Roboto Mono', monospace;
    text-align: justify;
    

}

#p2 {
    
    color: rgb(0, 128, 128);
    margin-left: 15px;
    font-family: 'Roboto Mono', monospace;
    float: left;

}
